form{
  border: 2px solid brown;
  width: 650px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
}
fieldset{
  width: 600px;
}

legend{
  font-weight: bold;

}


ul{
  list-style-type: none;
}

li{
  margin: 20px;
}

label{

}
#signup label{
  float: left;
  font-size: 13px;
  width: 110px;
}